{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        <div class="form-group">
            {{ form_label(registrationForm.email, 'Pseudo', {
                label_attr: {'for':'inputPseudo'}
            }) }}
            {{ form_widget(registrationForm.pseudo, {
                attr: {'class':'form-control',
                    'placeholder':'Entrer un pseudo',
                    'id':'inputPseudo',
                    'required':'true',
                    'autofocus':'true'}
            }) }}
            {{ form_errors(registrationForm.pseudo) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.email, 'E-mail', {
                label_attr: {'for':'inputEmail'}
            }) }}
            {{ form_widget(registrationForm.email, {
                attr: {'class':'form-control',
                    'placeholder':'Entrer votre adresse mail',
                    'id':'inputEmail',
                    'required':'true'}
            }) }}
            {{ form_errors(registrationForm.email) }}
        </div>
        <div class="form-group">
            {{ form_label(registrationForm.email, 'Mot de passe', {
                label_attr: {'for':'inputPassword'}
            }) }}
            {{ form_widget(registrationForm.plainPassword, {
                attr: {'class':'form-control',
                    'placeholder':'Entrer votre mot de passe',
                    'id':'inputPassword',
                    'required':'true'}
            }) }}
            {{ form_errors(registrationForm.plainPassword) }}
        </div>
        <div class="form-check">
            {{ form_row(registrationForm.agreeTerms, {label_attr: {class: 'form-check-label'}}) }}
        </div>
        <button type="submit" class="btn btn-success">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
