{% extends 'base.html.twig' %}

{% block title %}{{ crypto.nom }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ crypto.nom }}</h1>
        <h2>{{ crypto.createur }}</h2>
        <br>
        <ul>
            <li>{{'crypto.symbol'|trans}} : {{ crypto.symbole }}</li>
            <li>{{'crypto.price'|trans}} : {{ crypto.prix }}</li>
            <li>{{'crypto.category'|trans}} : {{ crypto.categorie }}</li>
            <li>{{'crypto.quantity'|trans}} : {{ crypto.quantite }}</li>
            <li>{{'crypto.date'|trans}} : {{ crypto.date|date("d/m/Y") }}</li>
            <li>{{'crypto.likes'|trans}} : {{ crypto.nbLikes }}</li>
        </ul>
    </div>
{% endblock %}