{% extends 'base.html.twig' %}

{% block title %}{{ crypto.nom }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ crypto.nom }}</h1>
        <h2>Nom du créateur</h2>
        <br>
        <ul>
            <li>Symbole : {{ crypto.symbole }}</li>
            <li>Prix : {{ crypto.prix }}</li>
            <li>Categorie : {{ crypto.categorie }}</li>
            <li>Quantité : {{ crypto.quantite }}</li>
            <li>Date : {{ crypto.date|date("d/m/Y") }}</li>
            <li>Nombre de j'aime : {{ crypto.nbLikes }}</li>
        </ul>
    </div>
{% endblock %}