{% extends 'base.html.twig' %}

{% block body %}
    <div style="float: right;">
        <u>Vous êtes ici :</u> Accueil > Edition d'une cryptomonnaie
    </div>

    <h1>Edition d'une cryptommonaie :</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.nom, 'Nom :', {
            label_attr: {'for':'inputName'}
        }) }}
        {{ form_widget(form.nom, {
            attr: {'class':'form-control',
                'placeholder':'Nom de la cryptomonnaie',
                'id':'inputName',
                'required':'true',
                'autofocus':'true'}
        }) }}
        {{ form_errors(form.nom) }}
    </div>
    <div class="form-group">
        {{ form_label(form.symbole, 'Symbole :', {
            label_attr: {'for':'inputSymbole'}
        }) }}
        {{ form_widget(form.symbole, {
            attr: {'class':'form-control',
                'placeholder':'Symbole de la cryptomonnaie',
                'id':'inputSymbole',
                'required':'true'}
        }) }}
        {{ form_errors(form.symbole) }}
    </div>
    <div class="form-group">
        {{ form_label(form.prix, 'Prix :', {
            label_attr: {'for':'inputPrix'}
        }) }}
        {{ form_widget(form.prix, {
            attr: {'class':'form-control',
                'placeholder':'Prix de la cryptomonnaie',
                'id':'inputPrix',
                'required':'true'}
        }) }}
        {{ form_errors(form.prix) }}
    </div>
    <div class="form-group">
        {{ form_label(form.categorie, 'Catégorie :', {
            label_attr: {'for':'inputCategorie'}
        }) }}
        {{ form_widget(form.categorie, {
            attr: {'class':'form-control',
                'placeholder':'Catégorie de la cryptomonnaie',
                'id':'inputCategorie',
                'required':'true'}
        }) }}
        {{ form_errors(form.categorie) }}
    </div>
    <div class="form-group">
        {{ form_label(form.quantite, 'Quantité :', {
            label_attr: {'for':'inputQuantite'}
        }) }}
        {{ form_widget(form.quantite, {
            attr: {'class':'form-control',
                'placeholder':'Quantité de la cryptomonnaie',
                'id':'inputQuantite',
                'required':'true'}
        }) }}
        {{ form_errors(form.quantite) }}
    </div>
    <div class="form-group">
        {{ form_label(form.quantiteMax, 'Quantité maximale :', {
            label_attr: {'for':'inputQuantiteMax'}
        }) }}
        {{ form_widget(form.quantiteMax, {
            attr: {'class':'form-control',
                'type':'number',
                'placeholder':'Quantité maximale disponible de la cryptomonnaie',
                'id':'inputQuantiteMax',
                'required':'true'
            }
        }) }}
        {{ form_errors(form.quantiteMax) }}
    </div>
    {{ form_widget(form) }}

    <div class="form-group">
        <button type="submit" class="btn btn-success">Enregistrer</button>
        <a href="{{ path('app_my_crypto') }}" class="btn btn-danger" role="button">Annuler</a>
    </div>
    {{ form_end(form) }}
{% endblock %}