{% extends 'base.html.twig' %}

{% block title %}Liste de Cryptomonnaies{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">

    <div class="container">
        <h1>{{'crypto.list'|trans}}</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{'crypto.name'|trans}}</th>
                <th scope="col">{{'crypto.creator'|trans}}</th>
                <th scope="col">{{'crypto.quantity'|trans}}</th>
                <th scope="col">{{'crypto.likes'|trans}}</th>
                <th scope="col">{{'crypto.favorites'|trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for crypto in cryptos %}
            <tr>
                <th scope="row">1</th>
                <td>{{ crypto.nom }}</td>
                <td>Satoshi Nakamoto</td>
                <td>{{ crypto.quantite }}</td>
                <td>{{ crypto.nbLikes }}</td>
                <td>⭐</td>
                <td><a href="{{ path('crypto_info', {nom: crypto.nom}) }}">{{'more'|trans}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


