{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div style="float: right;">
        <u>{{'direction'|trans}} :</u> {{'home'|trans}}
    </div>

    <div class="container" style="display: inline; float: left; width: 75%;">
        <h1>{{'crypto.list'|trans}}</h1>
        {% if cryptos | length > 0 %}
            <table class="table text-center">
                <thead>
                <tr>
                    <th class="active text-center" scope="col">{{'crypto.name'|trans}}</th>
                    <th class="active text-center" scope="col">{{'crypto.creator'|trans}}</th>
                    <th class="active text-center" scope="col">{{'crypto.quantity'|trans}}</th>
                    <th class="active text-center" scope="col">{{'crypto.likes'|trans}}</th>
                    {% if app.user %}
                        <th class="active text-center" scope="col">{{'crypto.favorites'|trans}}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for crypto in cryptos %}
                    <tr>
                        <td><a href="{{ path('crypto_info', {nom: crypto.nom}) }}">{{ crypto.nom }}</a></td>
                        <td>{{ crypto.createur }}</td>
                        <td>{{ crypto.quantite }}</td>
                        <td>{{ crypto.nbLikes }}</td>
                        {% if app.user %}
                            <td>⭐</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3>Aucun résultat pour votre recherche</h3>
        {% endif %}
    </div>

    <div class="container" style="display: inline; float: left; width: 23%; margin-left: 2%; margin-top: 5%; border-radius: 5% 5%; border: 3px groove #898989;">
        <h3>{{'filters'|trans}}</h3>

        {{ form_start(researchForm) }}

        <div class="form-group">

            {{ form_label(researchForm.nom, 'crypto.name'|trans, {
                label_attr: {'for':'inputSearchNom'}
            }) }}
            {{ form_widget(researchForm.nom, {
                attr: {'class':'form-control',
                    'placeholder':'crypto.name'|trans,
                    'id':'inputSearchNom',
                    }
            }) }}

            {{ form_label(researchForm.symbole, 'crypto.symbol'|trans, {
                label_attr: {'for':'inputSearchSymbole'}
            }) }}
            {{ form_widget(researchForm.symbole, {
                attr: {'class':'form-control',
                    'placeholder':'crypto.symbol'|trans,
                    'id':'inputSearchSymbole',
                }
            }) }}

            {{ form_label(researchForm.categorie, 'crypto.category'|trans, {
                label_attr: {'for':'inputSearchCategorie'}
            }) }}
            {{ form_widget(researchForm.categorie, {
                attr: {'class':'form-control',
                    'placeholder':'crypto.category'|trans,
                    'id':'inputSearchCategorie',
                }
            }) }}

            {{ form_label(researchForm.createur, 'crypto.creator'|trans, {
                label_attr: {'for':'inputSearchCreateur'}
            }) }}
            {{ form_widget(researchForm.createur, {
                attr: {'class':'form-control',
                    'placeholder':'crypto.creator'|trans,
                    'id':'inputSearchCreateur',
                }
            }) }}

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">{{ 'form.apply'|trans }}</button>
            <a href="{{ path('app_crypto') }}" class="btn btn-danger" role="button">{{ 'form.cancel'|trans }}</a>
        </div>

        {{ form_end(researchForm) }}

    </div>

{% endblock %}
