<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link href="{{ asset('https://bootswatch.com/5/yeti/bootstrap.min.css') }}" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}

    {% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}">

    {% block header %}
        <header style="padding-bottom: 1rem">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="#">Cryptobook</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ path('app_crypto') }}">{{'home'|trans}}
                                    <span class="visually-hidden">(current)</span>
                                </a>
                            </li>
                        </ul>
                        <div class="d-flex">
                            <ul class="navbar-nav me-auto">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-globe"></span> <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for key, locale in locales %}
                                            <li><a href="{{ path(app.request.get('_route'),
                                                    app.request.attributes.get('_route_params')|merge({'_locale': key})) }}">{{locale}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">{{'languages'|trans}}</a>
                                    <div class="dropdown-menu show" data-bs-popper="none">
                                        <ul>
                                            {% for key, locale in locales %}
                                                <li><a href="{{ path(app.request.get('_route'),
                                                        app.request.attributes.get('_route_params')|merge({'_locale': key})) }}" style="color: white">{{locale}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">{{'registration'|trans}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">{{'login'|trans}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div id="footer-copyright" class="col-md-6">
                        <p>© 2020 Cryptobook</p>
                    </div>
                    <div id="footer-resources" class="col-md-6">
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

</body>
</html>

